<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Calculator</h2>
      
        <%= bootstrap_form_for :calculator , url: { action: :new }, remote: true, method: :post do |f| %>
        <%= f.number_field :a, label_class: "custom-class" %>
        <%= f.number_field :b, label_class: "custom-class" %>
            <div class="text-center d-flex justify-content-around">
                <%= f.submit "+", class: "btn btn-primary" , :disabled => true%>
                <%= f.submit  "-", class: "btn btn-danger" , :disabled => true%>
                <%= f.submit  "*", class: "btn btn-warning", :disabled => true%>
                <%= f.submit  "/", class: "btn btn-success", :disabled => true%>
            </div>
        <% end %>
        <div class="form-group">
          <label for="answer">Answer</label>
          <textarea class="form-control" id="answer" rows="3" disabled>
          </textarea>
        </div>
    </div>
  </div> 
</div>


