<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Calculator</h2>
      
        <%= bootstrap_form_for :calculator , url: { action: :new }, method: :post , remote: true do |f| %>
        <%= f.number_field :a, label_class: "custom-class" %>
        <%= f.number_field :b, label_class: "custom-class" %>
            <div class="text-center d-flex justify-content-around">
                <%= f.submit "+", class: "btn btn-primary" , :disabled => true%>
                <%= f.submit  "-", class: "btn btn-danger" , :disabled => true%>
                <%= f.submit  "*", class: "btn btn-warning", :disabled => true%>
                <%= f.submit  "/", class: "btn btn-success", :disabled => true%>
            </div>
        <%= f.text_field :result, label_class: "custom-class", :readonly => true %>
        <% end %>
    </div>
  </div> 
</div>


