<!DOCTYPE html>
<html>
  <head>
    <title>RoRChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
    <%- end -%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
